{% extends '@App/Layout/layout.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            {{ render(path('app_audiobooks_recent')) }}
        </div>
        <div class="col-md-6">

        </div>
    </div>


{% endblock %}
